<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2" fxLayoutAlign="center start"
  fxLayoutAlign.xs="center stretch">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
    <h1 class="center" fxFlex="grow">Wellcome to "{{shop.name}}"</h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.xs="100">
    <div class="map">
      <img [src]="mapUrl()" alt="">
      <!-- <iframe id="map" [src]="mapUrl()"></iframe> -->
    </div>
    <div *ngIf="shop.description" class="full-col-width">
      <h3>Shop description:</h3>
      <div>{{shop.description}}</div>
    </div>
    <div *ngIf="shop.description" class="full-col-width">
      <h3>Add route to favorites:</h3>
      <mat-error *ngIf="!user">You should login to use this feature!</mat-error>
      <mat-form-field *ngIf="user">
        <input matInput placeholder="Route name" [formControl]="routeFormControl">
        <mat-error *ngIf="routeFormControl.hasError('required')">
          Route name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button *ngIf="user" mat-button type="submit" (click)="onSaveRoute()" [disabled]="!routeFormControl.valid">Save
        route</button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.xs="100">
    <mat-button-toggle-group appearance="legacy" #group="matButtonToggleGroup" value="shopProducts"
      name="productsCategory" (change)="onProductsCategoryChange(group.value)">
      <mat-button-toggle *ngIf="user" value="favoriteProducts">Favorite "{{shop.name}}" products</mat-button-toggle>
      <mat-button-toggle value="shopProducts" selected>"{{shop.name}}" products</mat-button-toggle>
    </mat-button-toggle-group>
    <sa-product-search-bar (onProductSelected)="productIsSelected($event)" class="full-col-width" [products]="products">
    </sa-product-search-bar>
    <mat-list class="full-col-width">
      <h3 mat-subheader>Selected products</h3>
      <mat-list-item *ngFor="let product of selectedProducts">
        <img mat-list-icon class="example-option-img" aria-hidden [src]="product.logo" height="25">
        <h4 mat-line>{{product.name}}
        </h4>
        <p mat-line> {{product.price}} </p>
        <mat-icon (click)="productIsDeleted(product)" class="example-icon cursor-pointer" aria-hidden="false"
          aria-label="Example delete icon">delete</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="totalPrice!==0">
        <h4 mat-line>Total price:
        </h4>
        <p> {{totalPrice}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>