<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2" fxLayoutAlign="center start"
  fxLayoutAlign.xs="center stretch">
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="grow">
    <h1 class="center" fxFlex="grow">Wellcome to "{{shop.name}}"</h1>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50" fxFlex.xs="100">
    <div class="map">
      <img [src]="mapUrl()" alt="">
      <!-- <iframe id="map" [src]="mapUrl()"></iframe> -->
    </div>
    <div class="full-col-width">
      Shop info and options asf afaf a sfas fa fa fa fsaf a fas fasa fas fsadzvdvzdvzdvzdvzdvzdvzdvzdvdzvdzvzdvdz
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="center center" fxFlex fxFlex.xs="100">
    <sa-product-search-bar (onProductSelected)="productIsSelected($event)" class="full-col-width" [products]="products">
    </sa-product-search-bar>
    <mat-list class="full-col-width">
      <h3 mat-subheader>Selected products</h3>
      <mat-list-item *ngFor="let product of selectedProducts">
        <img mat-list-icon class="example-option-img" aria-hidden [src]="product.logo" height="25">
        <h4 mat-line>{{product.name}}
        </h4>
        <p mat-line> {{product.price}} </p>
        <mat-icon (click)="productIsDeleted(product)" class="example-icon cursor-pointer" aria-hidden="false"
          aria-label="Example delete icon">delete</mat-icon>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngIf="totalPrice!==0">
        <h4 mat-line>Total price:
        </h4>
        <p> {{totalPrice}} </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>