.parent {
    width: 15vw;
    height: 15vw;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.children {
    height: 70%;
    width: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .5s;
}

.children:hover {
    /* background-color: rgba(70, 70, 70, 0.247); */
    transform: scale(1.07);
}