/* Structure */

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

button {
    margin-top: 10px;
    margin-right: 5px;
}

img {
    max-width: 70px;
    max-height: 70px;
}